---
date: 2026-03-30
slug: TBD
state: published
tags:
- metafictions
type: video
video_type: youtube
video_url: TBD
---

<p><b>TBD (Official Music Video) / metafictions</b><br/>
from metafictions epX <b>TBD</b><br/>
<br/>
Follow metafictions via<br/>
[Official site] https://metafictions.net<br/>
[YouTube channel] https://www.youtube.com/@metafictions-plex<br/>
[spotify] https://open.spotify.com/intl-ja/artist/1Axn9FNf9tzjrgEmSL1B2H<br/>
[Apple Music] https://music.apple.com/jp/artist/metafictions/1862998299<br/>
[Amazon Music] https://music.amazon.co.jp/artists/B0G9P8RDT1/metafictions<br/>
[SoundCloud] https://soundcloud.com/metafictions<br/>
</p>
